extends base-menu 

block content
    section.menu-body
        .login-form
            h2 Hesaba daxil ol
            form.form.form--login
                .form-group
                    label.form__label(for='email') Email
                    input#email.form__input(type='email', placeholder='you@example.com', , required)
                .form-group
                    label.form__label(for='password') Şifrə
                    input#password.form__input(type='password', placeholder='••••••••', , required, minlength='8')
                .form-group.text-center
                    button.btn.btn-success.login__btn Daxil ol
                .form-group.text-center
                    button.btn.btn-danger.forgot__btn Şifrənizi unutdunuz?
                .form-group.text-center.d-none
                    button.btn.btn-primary.send__btn Göndər