extends base-menu 

block content 
    section.menu-body
        .login-form
            h2 Şifrəni sıfırlamaq
            form.form.form--login
                .form-group
                    label.form__label(for='password') Şifrə
                    input#password.form__input(type='password', placeholder='••••••••', , required, minlength='8')
                .form-group
                    label.form__label(for='passwordConfirm') Şifrənin təkrarı
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', , required, minlength='8')
                .form-group.text-center
                    button.btn.btn-success.reset__btn Sıfırla